<div id="grid-gallery" class="grid-gallery">
	<section class="grid-wrap">
		<ul class="grid row">
			<li class="grid-sizer"></li>
			<!-- for Masonry column width -->
			<li class="col s12 m3">
				<figure>
					<img src="assets/img/gauss.jpg" alt="img01" />
					<figcaption>
						<h3>Oscar Gauss Carvajal Yucra </h3>
						<p> Candidato : Primer ejecutivo, Titular HCU - informática.</p>
					</figcaption>
				</figure>
			</li>
			<li class="col s12 m3">
				<figure>
					<img src="assets/img/maria.jpg" alt="img02" />
					<figcaption>
						<h3>Maria Alejandra Caba Miranda</h3>
						<p> Candidato : titular del HCU - Física, Tercer ejecutivo </p>
					</figcaption>
				</figure>
			</li>
			<li class="col s12 m3">
				<figure>
					<img src="assets/img/emiliano.jpg" alt="img03" />
					<figcaption>
						<h3>Jorge Emiliano Navarro Morales</h3>
						<p> Candidato : Titular CAU - Física</p>
					</figcaption>
				</figure>
			</li>
			<li class="col s12 m3">
				<figure>
					<img src="assets/img/alejandra.jpg" alt="img04" />
					<figcaption>
						<h3>Alejandra Uribe Flores</h3>
						<p> Candidato : Titular HCF - Estadística</p>
					</figcaption>
				</figure>
			</li>
			<li class="col s12 m3 ">
				<figure>
					<img src="assets/img/maribel.jpg" alt="img05" />
					<figcaption>
						<h3>Maribel Jayrina Carvajal Limachi</h3>
						<p> Candidato : Titular HCF - Matemática </p>
					</figcaption>
				</figure>
			</li>
			<li class="col s12 m3 ">
				<figure>
					<img src="assets/img/1.jpg" alt="img05" />
					<figcaption>
						<h3>Shirley Tarqui Rodriguez</h3>
						<p> Candidato :Segundo ejecutivo, Titular CAF - Ciencias Químicas </p>
					</figcaption>
				</figure>
			</li>
			<li class="col s12 m3 ">
				<figure>
					<img src="assets/img/2.jpg" alt="img05" />
					<figcaption>
						<h3>Santiago David Manjon</h3>
						<p> Candidato : suplente HCU - Biología </p>
					</figcaption>
				</figure>
			</li>
			<li class="col s12 m3 ">
				<figure>
					<img src="assets/img/carlos-2.jpg" alt="img05" />
					<figcaption>
						<h3>Carlos Fernando Torrez Alanoca</h3>
						<p> Candidato : suplente HCU - Informática </p>
					</figcaption>
				</figure>
			</li>
			<li class="col s12 m3 ">
				<figure>
					<img src="assets/img/branimir.jpg" alt="img05" />
					<figcaption>
						<h3>Branimir Fernando Espinoza Argollo</h3>
						<p> Candidato : suplente CAU, suplente primer ejecutivo - Informática </p>
					</figcaption>
				</figure>
			</li>
			<li class="col s12 m3 ">
				<figure>
					<img src="assets/img/gamax.jpg" alt="img05" />
					<figcaption>
						<h3>Gabriel Adrian Mazuelos Rabaza</h3>
						<p> Candidato : suplente HCF, suplente segundo ejecutivo - Informática </p>
					</figcaption>
				</figure>
			</li>
			<li class="col s12 m3 ">
				<figure>
					<img src="assets/img/kenya.jpg" alt="img05" />
					<figcaption>
						<h3>Kenya Steffanie Echenique Siebels</h3>
						<p> Candidato : suplente HCF - Física </p>
					</figcaption>
				</figure>
			</li>
			<li class="col s12 m3 ">
				<figure>
					<img src="assets/img/3.jpg" alt="img05" />
					<figcaption>
						<h3>Oscar Inti Torrez Valdivia</h3>
						<p> Candidato : suplente CAF - Informática </p>
					</figcaption>
				</figure>
			</li>
			<li class="col s12 m3 ">
				<figure>
					<img src="assets/img/4.jpg" alt="img05" />
					<figcaption>
						<h3>Enzo Armando Bustillos Peña</h3>
						<p> Candidato : suplente tercer ejecutivo - Estadística </p>
					</figcaption>
				</figure>
			</li>


		</ul>
	</section>
	<!-- // grid-wrap -->
	<section class="slideshow">
		<ul>
			<li>
				<figure>
					<div class="row">
						<div class="col m4">
							<!--<figcaption>-->
							<h3>Oscar Gauss Carvajal Yucra</h3>
							<p>Alguien en quien confiar
								https://www.facebook.com/oscargauss
							</p>
							<p style="font: italic; color: black">
								"Estoy aqui para dar mas caracter, liderazgo"
							</p>
							<!--</figcaption>-->
						</div>
						<div class="col m8">
							<img src="assets/img/gauss-2.jpg" alt="img01" />

						</div>

					</div>
				</figure>
			</li>
			<li>
				<figure>
					<div class="row">
						<div class="col m4">
							<!--<figcaption>-->
							<h3>Oscar Gauss Carvajal Yucra</h3>
							<p> Candidato : Alguien en quien confiar, <br> Gauss ( Dota nick : OG) <br>, Progreso <br> Nivel Superado - 7mo Semestre,
								<br> Humildad - 80%, <br> Empatía - 90%, <br> Confianza - 50%. <br>
							</p>
							<p style="font: italic; color: black">
								"Estoy aqui para dar mas caracter, liderazgo y menos política "
							</p>
							<!--</figcaption>-->
						</div>
						<div class="col m8">
							<img src="assets/img/carlos-2.jpg" alt="img01" />

						</div>

					</div>
				</figure>
			</li>
			<li>
				<figure>
					<div class="row">
						<div class="col m4">
							<!--<figcaption>-->
							<h3>Oscar Gauss Carvajal Yucra</h3>
							<p>Alguien en quien confiar, <br> Gauss ( Dota nick : OG) <br>, Progreso <br> Nivel Superado - 7mo Semestre, <br> Humildad
								- 80%, <br> Empatía - 90%, <br> Confianza - 50%. <br>
							</p>
							<p style="font: italic; color: black">
								"Estoy aqui para dar mas caracter, liderazgo y menos política "
							</p>
							<!--</figcaption>-->
						</div>
						<div class="col m8">
							<img src="assets/img/gamax-2.jpg" alt="img01" />

						</div>

					</div>
				</figure>
			</li>
			<li>
				<figure>
					<div class="row">
						<div class="col m4">
							<!--<figcaption>-->
							<h3>Oscar Gauss Carvajal Yucra</h3>
							<p>Alguien en quien confiar, <br> Gauss ( Dota nick : OG) <br>, Progreso <br> Nivel Superado - 7mo Semestre, <br> Humildad
								- 80%, <br> Empatía - 90%, <br> Confianza - 50%. <br>
							</p>
							<p style="font: italic; color: black">
								"Estoy aqui para dar mas caracter, liderazgo y menos política "
							</p>
							<!--</figcaption>-->
						</div>
						<div class="col m8">
							<img src="assets/img/branimir-2.jpg" alt="img01" />

						</div>

					</div>
				</figure>
			</li>
			<li>
				<figure>
					<div class="row">
						<div class="col m4">
							<!--<figcaption>-->
							<h3>Oscar Gauss Carvajal Yucra</h3>
							<p>Alguien en quien confiar, <br> Gauss ( Dota nick : OG) <br>, Progreso <br> Nivel Superado - 7mo Semestre, <br> Humildad
								- 80%, <br> Empatía - 90%, <br> Confianza - 50%. <br>
							</p>
							<p style="font: italic; color: black">
								"Estoy aqui para dar mas caracter, liderazgo y menos política "
							</p>
							<!--</figcaption>-->
						</div>
						<div class="col m8">
							<img src="assets/img/rodrigo-2.jpg" alt="img01" />

						</div>

					</div>
				</figure>
			</li>
			<li>
				<figure>
					<div class="row">
						<div class="col m4">
							<!--<figcaption>-->
							<h3>Rolando Troche Venegas</h3>
							<p>Alguien en quien confiar, <br> Gauss ( Dota nick : OG) <br>, Progreso <br> Nivel Superado - 7mo Semestre, <br> Humildad
								- 80%, <br> Empatía - 90%, <br> Confianza - 50%. <br>
							</p>
							<p style="font: italic; color: black">
								"Estoy aqui para dar mas caracter, liderazgo y menos política "
							</p>
							<!--</figcaption>-->
						</div>
						<div class="col m8">
							<img src="assets/img/rolo-2.jpg" alt="img01" />

						</div>

					</div>
				</figure>
			</li>
		</ul>
		<nav>
			<span class="icon nav-prev"></span>
			<span class="icon nav-next"></span>
			<span class="icon nav-close"></span>
		</nav>
		<!--<div class="info-keys icon">Navigate with </div>-->
	</section>
	<!-- // slideshow -->
</div>