<div class="container">
  <div class="row">
    <div class="col m1 s2">
     
    </div>
    <div class="col m2 s8">
      <img class="responsive-img" src="assets/img/logo-pac-2.png">
    </div>
    <div id="tabs" class="tabs col m9 s12">
      <nav>
        <ul>
          <li><a routerLink="/inicio" class="icon-inicio"><span>Inicio</span></a></li>
          <li><a routerLink="/nosotros" class="icon-nosotros"><span>Nosotros</span></a></li>
          <li><a routerLink="/criticas" class="icon-criticas"><span>Criticas</span></a></li>
          <li><a routerLink="/videos" class="icon-videos"><span>Videos</span></a></li>
          <li><a routerLink="/jugar" class="icon-jugar"><span>Jugar</span></a></li>
        </ul>
      </nav>
    </div>

  </div>
</div>


<router-outlet></router-outlet>