<div id="cbp-fbscroller" class="cbp-fbscroller">
	<nav>
		<a href="#fbsection1" class="cbp-fbcurrent">Section 1</a>
		<a href="#fbsection2">Section 2</a>
		<a href="#fbsection3">Section 3</a>
		<a href="#fbsection4">Section 4</a>
		<a href="#fbsection5">Section 5</a>
		<a href="#fbsection6">Section 6</a>
		<a href="#fbsection7">Section 7</a>
	</nav>
	<section id="fbsection1">
		<!--<div class="description">
			<p>MISIÓN Nuestra Misión es construir puentes de diálogo para el progreso, nutrir las relaciones con los estudiantes de base
				que son los que se ven constantemente embarcados en un viaje de transformación intelectual, además de conectar a las
				carreras de la facultad, esto para unificar nuestra voz y voto como facultad en las cruciales decisiones a nivel de la
				universidad. Es también una de nuestras misiones imperativas el detener la corrupción; promover la transparencia, la
				rendición de cuentas e integridad en todos los niveles.
			</p>

			<p><strong>Click on the gallery to start it.</strong></p>
		</div>-->
		<header class="codrops-header">
			
					<h1> ¡Puras al Cambio! <span>
Puras Al Cambio busca que tú, estudiante de la facultad de ciencias puras y naturales, tengas el mejor desenvolvimiento posible dentro de tu carrera y tu facultad. Darte la oportunidad y el espacio para opinar y generar un cambio positivo. 
.</span></h1>
			
		</header>

	</section>
	
	<section id="fbsection2"></section>
	<section id="fbsection3"></section>
	<section id="fbsection4"></section>
	<section id="fbsection5"></section>
	<section id="fbsection6"></section>
	<section id="fbsection7"></section>
</div>